* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-image: url(imagens/tela\ de\ fundo.png);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo-sb {
    position: absolute;
    top: 20px;
    left: 68px;
}

.logo-senac {
    position: absolute;
    top: 60px;
    right: 68px;
}

.logo-sb img {
    height: 180px;  
    width: auto;    
}

.logo-senac img {
    height: 78px;  
    width: auto;    
}
.servicos {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    text-align: left;
}

/* Afasta o título das logos */
.servicos h1 {
    font-size: 24px;
    color: #333;
    margin-top: 40px; /* Adiciona espaço para afastar o título */
}

.servicos h2 {
    font-size: 18px;
    color: #666;
    margin-top: 10px; /* Afasta o subtítulo do título */
}

.servicos-lista ul {
    list-style: none;
    padding-left: 0;
}

.servicos-lista li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    color: #333;
}

.servicos-lista input[type="checkbox"] {
    margin-right: 10px;
}

.servicos-lista span {
    color: #333;
    font-weight: bold;
    margin-left: auto;
    padding-left: 20px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 40px; /* Ajusta a posição dos botões */
}

/* Estilo dos botões */
.botoes .voltar, .botoes .proximo {
    padding: 8px 16px; /* Diminui o tamanho do botão */
    border: none;
    border-radius: 20px;
    font-size: 14px; /* Reduz o tamanho da fonte */
    color: white;
    cursor: pointer;
    background-color: #CD722B;
    transition: background-color 0.3s ease;
}

.botoes .voltar:hover, .botoes .proximo:hover {
    background-color: #b56524; /* Muda a cor ao passar o mouse */
}
